
@{
    ViewData["Title"] = "Aboutus";
}
<style>
    h1 {
        font-family: Cambria;
        text-align: center;
        color: brown;
        margin: 50px;
    }

    h4 {
        font-family: Cambria;
        text-align: center;
        color:chocolate;
        
    }
    h2 {
        font-family: Cambria;
        text-align: center;
        color: forestgreen;
        margin: 10px;
    }
    .p-head{
        font-size:22px;
        color:darkgreen;
        font-family:Cambria;
    }
</style>
<h1>About Us</h1>


<div class="container">
    <p class="p-head">
        APNY COMPANY is a digital technology company providing digital transformation and educational services to schools,university,
        Consumer Internet, and large enterprises across the country.
        We design & build digital platforms and products with Cloud
        and Data at the focal point by working on cutting-edge technologies
    </p>
    <div style="background-color:lightgray">
        <h4 style="margin-top:100px;font-weight:900;padding-top:30px;">Our Values</h4>
        
        <div class="row" style="margin-top:50px;margin-bottom:50px;">

            <div class="col-md-4">

                <!-- Bootstrap Card -->

                <img src="~/Images/design-thinking.png" alt="Card One" class="card-img-top" style="margin:20px;width:40%;height:80px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Authenticity</h5>
                    <p>I mean what I say and do</p>
                    <p>I own my mistakes and weaknesses</p>
                </div>

            </div>
            <div class="col-md-4">

                <img src="~/Images/design.jpg" alt="Card Two" class="card-img-top" style="margin:20px;width:40%;height:80px;align-self:center">
                <div class="card-body">
                    <h5>People Centricity</h5>
                    <p>I value collaboration and teamwork</p>
                    <p>Happiness, fulfillment, and growth of people matter to me</p>

                </div>

            </div>
            <div class="col-md-4">

                <img src="~/Images/smartphone.png" alt="Card Two" class="card-img-top" style="margin:20px;width:40%;height:80px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Customer Focus</h5>
                    <p>I work with a nimble mindset</p>
                    <p>I do whatever it takes to meet the customer needs</p>
                </div>

            </div>
        </div>

        <div class="row" style="margin-top:50px;margin-bottom:50px;">

            <div class="col-md-4">
                <!-- Bootstrap Card -->

                <img src="~/Images/testing.jpg" alt="Card One" class="card-img-top" style="margin:20px;width:40%;height:80px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Complete Ownership</h5>
                    <p>The buck stops with me</p>
                    <p>I focus on solution, not the problem</p>

                </div>

            </div>
            <div class="col-md-4">

                <img src="~/Images/Enterprise.jpg" alt="Card Two" class="card-img-top" style="margin:20px;width:40%;height:80px;align-self:center">
                <div class="card-body">
                    <h5>Continuous Improvement</h5>
                    <p>I invest in learning new skills</p>
                    <p>I frequently think ways to improve efficiency and productivity</p>

                </div>

            </div>

        </div>
    </div>
    
</div>


