
@{
    ViewData["Title"] = "Service1";
}

    
<div class="container-fluid">
    <div class="row" style="margin-bottom:50px">
        <div class="col-md-6">

            <h1 style="color:brown;font-size:34px;text-align:center;margin-top:20px;font-weight:900;font-family:Cambria">Cloud Migration Services</h1>
            <p style="color:darkblue;font-size:20px;font-family:Cambria">
                On-premise to Cloud, One Cloud provider to another,rather anywhere to Cloud - We can help you drive the transition with
                Zero business impact. We could use varied approach to transition to cloud application approach,lift and shift or redeployment.
                With deep Cloud expertise & the help of data analytical tools, We use the approach that fits your need and is fast,cost-
                effective and seamless.
            </p>

        </div>

        <div class="col-md-6">
            <img src="~/Images/Cloud-Migration-service1.jpg" style="width:100%;height:400px;"/>
        </div>

    </div>
    <div class="container">
        <div class="row" style="margin-top:50px;margin-bottom:50px;">

            <h2 style="color:darkblue;font-weight:800;font-family:Cambria;margin-bottom:50px;text-align:center">3 Key Areas to Focus on When Migrating to the Cloud:</h2>
            <div class="col-md-4">
                <!-- Bootstrap Card -->

                <img src="~/Images/strategy.svg" alt="Card One" class="card-img-top" style="margin-top:5px;width:60%;height:100px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Strategy</h5>
                    <p>Create a road map to help build,</p>
                    <p>  migrate, and optimize your cloud</p>
                </div>

            </div>
            <div class="col-md-4">

                <img src="~/Images/group.svg" alt="Card Two" class="card-img-top" style="margin-top:5px;width:60%;height:100px;align-self:center">
                <div class="card-body">
                    <h5>People</h5>
                    <p>Bridge the cloud skills gap with</p>
                    <p> employee training and resources</p>

                </div>

            </div>
            <div class="col-md-4">

                <img src="~/Images/target.svg" alt="Card Two" class="card-img-top" style="margin-top:5px;width:60%;height:100px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Optimization </h5>
                    <p>Streamline workflows to deliver</p>
                    <p>applications and services faster</p>
                </div>

            </div>
        </div>
    </div>
   
</div>

