
@{
    ViewData["Title"] = "Service6";
}
<style>
    h5 {
        color: darkblue;
        font-family: Cambria;
        font-weight: 800;
        margin: 10px;
    }

    p {
        color: darkblue;
        font-family: Cambria;
        font-size: 18px;
        margin: 10px;
        margin-bottom: 50px;
    }
</style>

<div class="container-fluid">
    <h1 style="color:brown;font-size:50px;text-align:center;margin:40px;font-weight:900;font-family:Cambria"> Backup Solutions</h1>
    <h2 style="color:black;font-size:30px;margin-bottom:30px;font-weight:800;font-family:cambria">Why do we need backup -?</h2>
    

    <div class="row">
        <div class="col-md-6">

            <h6>
                Protect your data with the market leader
                Operating a small business can be overwhelming. You're managing your own IT with limited time, smaller budgets and fewer resources. You're forced to do more with less.
                This is why you need a backup solution that just works.
                Veeam® provides a single platform for cloud, virtual and physical backup. This includes backup and recovery for VMware vSphere, Microsoft Hyper-V, Nutanix AHV, Windows and Linux Physical Servers, NAS, AWS, Azure, Office 365 and more.

            </h6>
            <h5>Overcome the "3C Backup Problem" — lack of capabilities, complexity and cost — with the best backup solutions for small businesses.		</h5>
            <h5>Powerful:</h5>

            <p>
                Reliable backup and fast restores will eliminate the risk of data loss and downtime. More than a decade of data protection leadership and innovation, eliminating the biggest backup challenges.
            </p>

            <h5>
                Easy-to-use
            </h5>
            <p>
                Simple installation and management that doesn’t require special skills, a large staff or a steep learning curve. 
                Backup and recovery that just works, backed by excellent support and an engaged community.
            </p>

            <h5>
                Affordable:
            </h5>
            <p>
                Specially packaged pricing for small businesses with built-in license portability that can evolve with you and your business.
                A quick and achievable ROI; just what a small business needs.
            </p>
            

        </div>
        <div class="col-md-6 " style="margin-bottom:50px">
            <img src="~/Images/Backup-service6.jpg" style="width:100%;height:500px" />
        </div>

    </div>

</div>

