
@{
    ViewData["Title"] = "Service2";
}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="margin-bottom:50px">

                <h1 style="color:brown;font-size:34px;text-align:center;margin-top:20px;font-weight:900;font-family:Cambria">Android App Development</h1>
                <p style="color:darkblue;font-size:20px;font-family:Cambria">
                    We're the best Android Application development company, based in Faridabad,India that believes in
                    delivering top-notch Android solutions and leveraging Android platform to its fullest. We are working on
                    Android app development since our inception.We know that Android is extremely different platform
                    from others, and our android team has the expertise and experience and experience to capitalize on thar difference and help
                    businessaes gain visibility.Our best-in-class native Android app development services enable us to deliver bespoke user experience
                    by delivering optimized,robust,performance-centric and cost-effective solutions. We have developed apps that can easily run on
                    different flavours of Android including Ice Cream, Sandwich to Kitkat. Our Team is highly capable in infusing the Android's DNA
                    into your app. And that enables us to to deliver seamless,robust, streamlined and scalable solutions that offer best-in class user experience.
                </p>

            </div>
            <div class="col-md-6 " style="margin-bottom:50px">
                <img src="~/Images/AndroidApp-service2.png" style="width:100%;height:500px" />
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:darkblue;font-weight:800;font-family:Cambria;margin-bottom:50px;text-align:center">What we offer- Affordable App Development Service</h2>
                <ol style="font-family:Cambria;font-size:18px">
                    <li>Custom Android App Development</li>
                    <li> Android Games Development</li>
                    <li>Android Health care Apps: Exercise and Fitness App,Weight gain & Weight loss App, Diet App</li>
                    <li>Android Restaurants App: Online Food ordering,recipe app </li>
                    <li>Education/E-Learning: Kids Education,School/University App, E-Learnig App</li>
                    <li>Enterprise Android Applications</li>
                    <li>Android M-commerce Applications: Retail, Deals, Coupon, E-Commerce app ,Shoping</li>
                    <li>Android Social Media Applications: Chat Messengers, Social Networking, Video Calling</li>
                    <li>Android Support maintenance,Testing</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2 style="color:darkblue;font-weight:800;font-family:Cambria;margin-bottom:40px;margin-top:40px;text-align:center">Features of Our Android App</h2>
                <ol style="font-family:Cambria;font-size:18px">
                    <li><b>Secured:</b>Enhanced Security for your personal & Business Privacy.</li>
                    <li><b>Responsive:</b>Flexible,Liquid and Highly addaptive design for all mobile screen sizes</li>
                    <li><b>Optimized Memory:</b>Light Apps with optimized memory utilization and work process</li>
                    <li><b>Compatibility:</b>Adaptive designs compatible to all mobile devices.</li>
                    <li><b>Reliability:</b>Dependable Applications to work on the go.</li>
                    
                </ol>
            </div>
        </div>

    </div>

