

@{
    ViewData["Title"] = "Service3";
}
<style>
    h6 {
        color: darkblue;
        font-family: Cambria;
        font-weight: 800;
        margin: 10px;
    }
    img{
        margin:20px;
    }
    p {
        color: darkblue;
        font-family: Cambria;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 30px;
    }
</style>

<div class="container-fluid">
    <h1 style="color:brown;font-size:50px;text-align:center;margin:40px;font-weight:900;font-family:Cambria"> Windows Virtual Desktop</h1>
    <h2 style="color:black;font-size:30px;margin-bottom:30px;font-weight:800;font-family:cambria">Why Choose Windows Virtual Desktop?</h2>

    <div class="row">
        <div class="col-md-6">


            <h6>Access your desktop and applications from anywhere</h6>
            <p>
                Set up Windows Virtual Desktop in minutes to enable secure remote work.
                Provide the familiarity and compatibility of Windows 10 with the new scalable multi-session experience for
                your end users and save costs by using the same Windows licenses.
                Manage your end-to-end Windows Virtual Desktop deployment alongside other Azure services within the Azure portal.
            </p>

            <div style="background-color:aquamarine">
                <h6>New customers - Save 30% of the Windows Virtual Desktop computing costs until March 31, 2021.</h6>
            </div>
            <h6>Access Windows 10 desktop and applications from anywhere, on any device.</h6>
            <p>
                Regardless of your device type (Windows, Mac, iOS, Android or any other device with an HTML5 web client) bring-your-own-device (BYOD) and remote connect to your enterprise experience with Windows Virtual Desktop. ITs can pick whatever Azure VM will meet their teams needs and leverage the Windows 10 multi-session advantage that only Azure offers. With Windows 10 multi-session, you can run multiple concurrent user interactive sessions easily with the same deployment for more cost efficiency.
            </p>

            <h6>Leverage the seamless Microsoft Teams and Microsoft Office experience</h6>
            <p>Provide employees the same experience as a local desktop or laptop - whether you are managing your inbox with outlook, sharing files on OneDrive or collaborating with colleagues on Microsoft Teams meetings.</p>
            <h6>Reduce cost</h6>
            <p style="margin-bottom:10px;">No additional license costs - Windows Virtual Desktop is a free service and can be used with your existing Microsoft 365 or Windows per user license.</p>
            <p style="margin-bottom:10px;">Reduce infrastructure costs - by right sizing VMs and shutting down VMs in use. Increase utilization of VMs with Windows 10 multi-session. Avoid upfront costs and align operational expenses to business usage.</p>
            <p>Reduce management overhead by moving all your VDI into a managed service in the cloud.</p>




        </div>
        <div class="col-md-6 " style="margin-bottom:50px">
            <img src="~/Images/Windows-service7.jpg" style="width:95%;height:500px" />
        </div>

    </div>
    <div class="container">
        <div class="row" style="margin-top:50px;margin-bottom:50px;">


            <div class="col-md-3">
                <!-- Bootstrap Card -->

                <img src="~/Images/monitor.png" alt="Card One" class="card-img-top" style="margin-top:5px;width:50%;height:80px;align-content:center">
                <div class="card-body">
                    <h5 class="card-title">Deliver Windows 10 desktops on any device, anywhere</h5>
                    <p>Provide employees the best virtualized experience with the only solution fully optimized for Windows 10 and Office 365.</p>

                </div>

            </div>
            <div class="col-md-3">

                <img src="~/Images/fingerprint.png" alt="Card Two" class="card-img-top" style="margin-top:5px;width:50%;height:80px;align-self:center">
                <div class="card-body">
                    <h5>Built-in intelligent security</h5>
                    <p>Keep your applications and data secure and compliant with security capabilities that can proactively detect threats and take remedial action.</p>

                </div>

            </div>
            <div class="col-md-3">

                <img src="~/Images/scale.jpg" alt="Card Two" class="card-img-top" style="margin-top:5px;width:50%;height:80px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Deploy and scale in minutes </h5>
                    <p>Simplify deployment and management of your infrastructure and quickly scale based on your business needs.</p>

                </div>

            </div>
            <div class="col-md-3">

                <img src="~/Images/reduce_cost.jpg" alt="Card Two" class="card-img-top" style="margin-top:5px;width:50%;height:80px;align-self:center">
                <div class="card-body">
                    <h5 class="card-title">Reduce cost using existing licenses</h5>
                    <p>Use existing licenses to save cost with a modern cloud-based virtual desktop infrastructure (VDI) and pay only for what you use.</p>

                </div>

            </div>
        </div>

    </div>
    
</div>

