
@{
    ViewData["Title"] = "Service5";
}

<style>
    h5 {
        color: darkblue;
        font-family: Cambria;
        font-weight: 800;
        margin: 10px;
    }

    p {
        color: darkblue;
        font-family: Cambria;
        font-size: 18px;
        margin: 10px;
        margin-bottom: 50px;
    }
</style>

<div class="container-fluid">
    <h1 style="color:brown;font-size:50px;text-align:center;margin:40px;font-weight:900;font-family:Cambria"> Business Email Hosting Service</h1>
    <h2 style="color:black;font-size:30px;margin-bottom:30px;font-weight:800;font-family:cambria">Why Choose Business Email Hosting?</h2>

    <div class="row">
        <div class="col-md-6">


            <h5>5GB Email Storage</h5>

            <p>
                Along with 5GB email storage, your emails are backed up by our state-of-the-art infrastructure.
            </p>

            <h5>
                Intuitive and Responsive Design
            </h5>
            <p>
                Access your email accounts on any smartphone or tablet, as well as any preferred application like Outlook, Thunderbird, etc.
            </p>

            <h5>
                Strong Spam Filters
            </h5>
            <p>
                Anti-spam measures & advanced analysis techniques ensure minimum spam gets to your mailbox.
            </p>
            <h5>
                Inbuilt Virus Protection
            </h5>

            <p>
                Your email accounts are secured by our advanced anti-virus technology, which keeps malware and virus at bay.
            </p>
            <h5>
                Calendars and Contacts
            </h5>

            <p>
                Manage contacts and your meetings in one place with productive tools.
            </p>
            <h5>
                99.99% Uptime and Security
            </h5>

            <p>
                Advanced email storage guarantees zero data loss and redundancy, along with 99.99% network uptime.
            </p>


        </div>
        <div class="col-md-6 " style="margin-bottom:50px">
            <img src="~/Images/emailHosting-service5.png" style="width:100%;height:500px" />
        </div>

    </div>

</div>
